name: Testing the build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17.0'
      - name: Testing
        run: |
          sudo apt-get install -y protobuf-compiler
          cd ./src/ && protoc --go_out=plugins=grpc:. proto/multiply.proto
          docker build -t ghcr.io/kenesparta/tk_grpc_service:latest .
